# Optional: Use either profile OR access keys
# AWS_PROFILE_NAME=your-profile-name

AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_DEFAULT_REGION=us-east-1

PUSHGATEWAY_URL=http://your-pushgateway-host:9091
